* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
}
.hero-img {
    display: flex;
    background-image: url("../portfolio/Assets/tilepattern.jpg");
    background-position: center;
    background-repeat: repeat;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    background-position: 80%;
    height: 200px;
}
.hero-img h3 {
    background-color: var(--primary-color);

}
/* header styles */
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}
header h1  {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    padding-right: 50px;
    background-color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 50px;
    justify-content: right;
}
header a {
  text-decoration: none;
  color: var(--primary-color);
}
header nav {
  margin: 7px 0;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}
.intro {
    background-color: lavender;
    display: flex;
}
.section-title {
    font-size: 25px;
    color: slateblue; 
    padding-left: 50px;
    padding-right: 5px;
    display: flex;
    width: 150px;
    display: inline-block;
    border-right: 3px solid;
    
    
}
.flex-row {
    text-align: right;
    margin: auto;
} 

.about-me-p {
    font-size: 15px;
}
.about-text {
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    flex: 12;
}
.about-text p  {
    margin: auto;
}


.cheese {
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section-title {
    margin-right: 20px;
}
/* contact me links */
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    
  }